/* VARIABLES */
:root{
    --mx-width: 1320px;
    --color-text-body: #D3D3D4;
    --color-primary: #5956E9;
    --color-secondary: #D3D3D4;
    --color-banner: #27272E;
    --color-text-btn: #fff;
    --color-bg-btn: #ff823a;
    --color-subtitle: #c75c6f;
    --color-title: #D3D3D4;
    --color-bg-services: #27272E;
    --color-bg-projects: #292930;
    --color-bg-dark: #27272E;
    --color-text-description: #99A1AA;
    --color-hover-dark: #303035;
    --color-borders: #393940;
}

body {
    background-color: #212121;
}

.nav__title:hover {
    color: var(--color-secondary);
}

.nav__title::before {
    background-color: var(--color-secondary);
}

.submenu__title:hover {
    color: var(--color-secondary);
}

.submenu__title::after {
    background-color: var(--color-secondary);
}

.nav__submenu {
    background-color: var(--color-banner);
}

.banner__btn {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
}

.banner__btn:hover {
    color: var(--color-text-btn);
}

.menu__navbar--fixed {
    background-color: var(--color-banner);
}

.services__service {
    background: var(--color-banner);
    background-color: var(--color-banner);
}

.project__content {
    background-color: var(--color-banner);
}

.project__title:hover {
    color: var(--color-bg-btn);
}

.layout__contact::before {
    background-color: var(--color-banner);
}

.author__name {
    color: var(--color-secondary);
}

.new__more {
    color: var(--color-secondary);
}

.contact__btn {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
} 

.contact__btn:hover {
    background-color: var(--color-bg-btn);
    color: var(--color-text-btn);
} 

.fleft__group {
    background-color: var(--color-banner);
    box-shadow: none;
}

.fleft__form-control {
    background-color: var(--color-banner);
    color: var(--color-title);
}

.fleft__btn:hover {
    background-color: var(--color-bg-btn);
}

.widget__link:hover {
    color: var(--color-bg-btn);
}